body {
    font-family: "Montserrat";
    font-size: 24px;
}

@media only screen and (max-width: 575.98px) {
    .blockPic {
        width: 92vw;
        display: block;
    }
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-image {
    width: 40px;
    height: 40px;
}

.brand-small {
    font-size: 14px;
}

.brand-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;

    margin-left: 1rem;
}

@media only screen and (max-width: 810px) and (min-width: 576px) {
    .brand-text {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .brand-text {
        font-size: 16px;
    }
}

footer {
    font-size: 18px;
}

.footerlink {
    color: #212529;
}

.form-group {
    position: relative;
}

.handwriting {
    font-family: "Dancing Script";
}

@media only screen and (max-width: 575.98px) {
    .handwriting {
        font-size: 28px;
        line-height: 1.8;
    }
}

.headline {
    position: absolute;
    left: 36vw;
    top: 20%;

    font-family: "Dancing Script";
    font-size: 5vw;
}

.headline-de {
    position: absolute;
    left: 35vw;
    top: 31%;

    font-family: "Dancing Script";
    font-size: 4vw;
}

@media only screen and (max-width: 991.98px) {
    .headline-de {
        top: 33%;

        font-size: 4vw;
    }
}

@media only screen and (max-width: 991.98px) {
    .headline {
        top: 30%;

        font-size: 6vw;
    }
}

@media only screen and (max-width: 575.98px) {
    .headline {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .headline-de {
        display: none;
    }
}

picture {
    z-index:-1;
}

.navbar {
    background-color: inherit;
}

.overlap {
    margin-top: -4rem;
}

@media only screen and (max-width: 575.98px) {
    .overlap {
        margin-top: -5rem;
    }
}

@media only screen and (min-width: 992px) {
    .overlap {
        margin-top: inherit;
    }
}

.picbox {
    background-color:gainsboro;
    width: 100vw;
    height: 37.5vw;
    z-index: -1;
}

@media only screen and (max-width: 991.98px) {
    .picbox {
        height: 66vw;
    }
}

.quote-large {
    position: absolute;
    top: 8%;
    left: 3vw;
    right: 57vw;

    text-align: center;

    color: lavenderblush;

    font-family: "Dancing Script";
    font-size: 3vw;
    line-height: 1.8;
}

@media only screen and (max-width: 991.98px) {
    .quote-large {
        display: none;
    }
}

.quote {
    font-family: "Dancing Script";
    font-size: 4vw;

    margin-top: 1rem;

    padding: 1rem;

    text-align: center;

    background-color: #ff9180;
}

@media only screen and (min-width: 992px) {
    .quote {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .quote {
        font-size: 6vw;

        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

.quote2 {
    position: absolute;
    top: 4%;
    left: 30vw;
    right: 34vw;

    text-align: center;

    color: black;

    font-family: "Dancing Script";
    font-size: 3vw;
    line-height: 2;
}

@media only screen and (max-width: 991.98px) {
    .quote2 {

        color: white;
        top: 61%;
        left: 1vw;
        right: 1vw;

        font-size: 5.8vw;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 991.98px) {
    .rosen-de {
        font-size: 26px;
    }
}

