body {
    font-family: "Montserrat";
    font-size: 22px;
}

@media only screen and (max-width: 575.98px) {
    .blockPic {
        width: 92vw;
        display: block;
    }
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-image {
    width: 40px;
    height: 40px;
}

.brand-small {
    font-size: 14px;
}

.brand-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;

    margin-left: 1rem;
}

@media only screen and (max-width: 810px) and (min-width: 576px) {
    .brand-text {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .brand-text {
        font-size: 16px;
    }
}

footer {
    font-size: 18px;
}

.footerlink {
    font-size: 16px;
    color: #212529;
}

.form-group {
    position: relative;
}

.handwriting {
    font-family: "Dancing Script";
}

.heading {
    font-size: 56px;
}

@media only screen and (max-width: 575.98px) {
    .heading {
        font-size: 40px;
    }
}

.headline {
    position: absolute;
    left: 36vw;
    top: 20%;

    font-family: "Dancing Script";
    font-size: 5vw;
}

.headline-de {
    position: absolute;
    left: 35vw;
    top: 31%;

    font-family: "Dancing Script";
    font-size: 4vw;
}

@media only screen and (max-width: 991.98px) {
    .headline-de {
        top: 33%;

        font-size: 4vw;
    }
}

@media only screen and (max-width: 991.98px) {
    .headline {
        top: 30%;

        font-size: 6vw;
    }
}

@media only screen and (max-width: 575.98px) {
    .headline {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .headline-de {
        display: none;
    }
}

picture {
    z-index:-1;
}

.navbar {
    background-color: inherit;
}

.overlap {
    margin-top: -4rem;
}

.picbox {
    background-color:gainsboro;
    width: 100vw;
    height: 37.5vw;
    z-index: -1;
}

@media only screen and (max-width: 991.98px) {
    .picbox {
        height: 66vw;
    }
}

.quote-large {
    position: absolute;
    top: 52%;
    left: 35vw;
    right: 15vw;

    text-align: center;

    color: lavenderblush;

    font-family: "Dancing Script";
    font-size: 3.7vw;
    line-height: 1.8;
}

@media only screen and (min-width: 576px) and (max-width: 991.98px) {
    .quote-large {
        top: 59%;
        left: 42vw;
        right: 2vw;

        font-size: 6vw;
    }
}

@media only screen and (max-width: 575.98px) {
    .quote-large {
        top: 59%;
        left: 40vw;
        right: 1vw;

        font-size: 6vw;
    }
}

.quote2 {
    position: absolute;
    top: 6%;
    left: 30vw;
    right: 35vw;

    text-align: center;

    color: black;

    font-family: "Dancing Script";
    font-size: 3.7vw;
    line-height: 1.8;
}

@media only screen and (max-width: 991.98px) {
    .quote2 {

        color: white;
        top: 76%;
        left: 1vw;
        right: 1vw;

        font-size: 6.8vw;
        line-height: 1.4;
    }
}

@media only screen and (max-width: 991.98px) {
    .rosen-de {
        font-size: 26px;
    }
}

.text-box {
    background-color: #ffe0b3 !important;
}