body {
    font-family: "Karla";
    font-size: 22px;
}

@media only screen and (max-width: 575.98px) {
    .blockPic {
        width: 92vw;
        display: block;
    }
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-image {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 575.98px) {
    .brand-small {
        display: none;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 810px) {
    .brand-small {
        display: none;
    }
}

.brand-text {
    font-family: "Meddon";
    font-size: 22px;
    font-weight: 700;

    margin-left: 1rem;
}

@media only screen and (max-width: 810px) and (min-width: 576px) {
    .brand-text {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .brand-text {
        font-size: 16px;
    }
}
.contactlink:link {
    color: gainsboro;
}

.fadein {
    opacity: 0;
}

footer {
    font-size: 18px;
}

.handwriting {
    font-family: "Meddon";
}

@media only screen and (max-width: 575.98px) {
    .handwriting {
        font-size: 28px;
    }
}

.headline {
    position: absolute;
    left: 36vw;
    top: 20%;

    font-family: "Meddon";
    font-size: 5vw;
}

@media only screen and (max-width: 991.98px) {
    .headline {
        top: 30%;

        font-size: 6vw;
    }
}

@media only screen and (max-width: 575.98px) {
    .headline {
        display: none;
    }
}

img {
    z-index:-1;
}

.navbar {
    background-color: inherit;
}

.overlap {
    margin-top: -4rem;
}

@media only screen and (max-width: 575.98px) {
    .overlap {
        margin-top: -5rem;
    }
}

@media only screen and (min-width: 992px) {
    .overlap {
        margin-top: inherit;
    }
}

.picbox {
    background-color:gainsboro;
    width: 100vw;
    height: 37.5vw;
}

@media only screen and (max-width: 991.98px) {
    .picbox {
        height: 66vw;
    }
}

.quote-large {
    position: absolute;
    top: 10%;
    left: 3vw;
    right: 57vw;

    text-align: center;

    color: lavenderblush;

    font-family: "Meddon";
    font-size: 2.5vw;
}

@media only screen and (max-width: 991.98px) {
    .quote-large {
        display: none;
    }
}

.quote {
    font-family: "Meddon";
    font-size: 4vw;

    padding: 1rem;

    text-align: center;

    background-color: #ff9180;
}

@media only screen and (min-width: 992px) {
    .quote {
        display: none;
    }
}

@media only screen and (max-width: 575.98px) {
    .quote {
        font-size: 6vw;

        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

.quote2 {
    position: absolute;
    top: 30%;
    left: 45vw;
    right: 5vw;

    text-align: center;

    color: aliceblue;

    font-family: "Meddon";
    font-size: 3vw;
    line-height: 2;
}

@media only screen and (max-width: 991.98px) {
    .quote2 {

        top: 5%;
        left: 50vw;

        font-size: 4.5vw;
        line-height: 1.8;
    }
}


@media only screen and (max-width: 991.98px) {
    .super {
        vertical-align: super;
    }
}