<!-- prettier-ignore -->
{% extends "layout.html" %}

<!-- prettier-ignore -->
{% block description_de -%} 
  Die Arbeit mit der Rosen-Methode macht mir viel Freude. Sie passt mit ihrer sanften und
  respektvollen Berührung wunderbar zu meiner Arbeit als Entspannungstherapeutin
  und Mindfulness Coach.
{%- endblock description_de %}

<!-- prettier-ignore -->
{% block description_en -%} 
  I enjoy helping my clients with Rosen-Method bodywork sessions. With its
  gentle and mindful touch it complements my work as a Relaxation Teacher and
  Mindfulness Coach. 
{%- endblock description_en %}

<!-- prettier-ignore -->
{% block title_de %} 
  Über Mich: Anette Kögler 
{% endblock title_de %}

<!-- prettier-ignore -->
{% block title_en %}
  About Me: Anette Koegler
{% endblock title_en %}

<!-- prettier-ignore -->
{% block color %}
  #8fcef7
{% endblock %}

<!-- prettier-ignore -->
{% block slogan %}
{% endblock %}

<!-- prettier-ignore -->
{% block slogan2 %}
{% endblock %}

<!-- prettier-ignore -->
{% set img = "stupa" %}
{% set alt = "Prayer Flags" %}

<!-- prettier-ignore -->
{% block alert %} {% endblock %}

<!-- prettier-ignore -->
{% block heading %}
<span lang="en">About me</span>
<span lang="de">Über mich</span>
{% endblock %}

<!-- prettier-ignore -->
{% block main %}
<img
  src="static/images/Anette_2_cropped.jpg"
  class="img-fluid blockPic rounded float-left m-2 mr-3 ml-0"
  width="350px"
  alt="Anette Kögler"
/>
<div lang="en">
  <p>
    I got interested in healing systems while working on my M.A. in Anthropology
    and Tibetan Studies in Europe. After several trips to the Himalayas I worked
    for over a decade as a full time volunteer in a Buddhist retreat center
    where I practiced Tibetan Yoga and Meditation and studied Buddhist
    psychology. This sparked my interest in embodied awareness and the power of
    the mind to both bind us and free us from self-imposed limitations.
  </p>
  <p>
    After a repetitive stress injury the opportunity arose to deepen my healing
    journey. I first trained as a <i>Hatha Yoga</i> Teacher in India and then
    learned traditional <i>Foot Reflexology</i> in Thailand. Noticing the need
    for relaxation and ease in my clients I got certified as a
    <i>Stress Reduction Trainer</i> and <i>Relaxation Therapist</i> in Germany.
    In order to widen my toolbox, I completed a <i>Spiritual Life Coach,</i> as
    well as <i>Mindfulness</i> and <i>Breath Coach</i> training programs.
  </p>
  <img
    src="static/images/foot_massage.jpeg"
    class="d-none d-sm-inline img-fluid rounded float-right m-1 ml-4"
    width="500px"
    alt="Foot massage"
  />
  <p class="text-left text-md-justify">
    While working with clients it became evident that many struggle with old
    coping strategies and trauma which don’t resolve easily just by talking.
    Searching for an effective somatic approach to clearly recognize and
    dissolve those patterns, I discovered Rosen-Method bodywork in 2013 in
    California and was impressed by its gentleness, simplicity and power. I
    quickly knew that I wanted to learn this work and enrolled in the 5-year
    program in Rosen-Method bodywork and movement in California. My training has
    been overseen by international Rosen teachers Sara Webb, Charity Martin,
    Bill Samsel, Sarah Dandridge, Valerie Luoto, Juliane Knoop, Maud Guettler,
    Martial Duvoisin and Lotti Vialle-Maibach. I am a member of the
    <a href="https://roseninstitute.net" target="_blank">Rosen Institute</a>
    which upholds the quality standards of the Rosen-Method. Since 2020 I am on
    the board of the
    <a href="https://roseninstitute.net/journal/journal-volumes" target="_blank"
      >Rosen Method International Journal</a
    >, an online publication about the effects and contribution of Rosen-Method
    to many areas including trauma healing and embodiment. Since 2023 I am also
    training in "Compassionate Inquiry", a body-psychotherapeutic approach
    developed by Dr. Gabor Maté which works very well in combination with the
    Rosen Method.
  </p>
  <p>
    I split my time between Germany, California and the Himalayas, where I offer
    free bodywork treatments to Buddhist nuns. Since summer 2022 I have also
    been helping refugees from Ukraine to „land“ in Germany and in their bodies
    again.
  </p>
  <p>
    Besides Rosen-Method Bodywork and Movement I also offer
    <strong><i>Somatic Coaching</i></strong
    >, which focuses on practical exercises in mindfulness, embodiment and
    breath in addition to more traditional coaching tools. Please
    <a href="/contact">contact</a>
    me if you are interested in my offers or have any questions.
  </p>
  <p>I am looking forward to supporting you on your path!</p>
  <div class="alert shadow-sm text-box-about">
    <strong>My qualifications:</strong>
    <ul class="mb-0">
      <li>
        since 2023 training in „Compassionate Inquiry“ with Dr. Gabor Maté
      </li>
      <li>2022 Embodied Yoga Principles (EYP) Coach (Embodiment Unlimited)</li>
      <li>2021 Mindfulness- and Breath Coach</li>
      <li>2020 Certified Life Coach</li>
      <li>2018 Yoga Teacher (200h, Rishikesh, India)</li>
      <li>2017 Stress Management Trainer and Relaxation therapist (Germany)</li>
      <li>
        2017-2023 Training in Rosen-Method Bodywork and Movement (Berkeley,
        California)
      </li>
      <li>since 2013 personal work with Rosen-Method Bodywork</li>
      <li>2004-2016 full time volunteer in Buddhist centers in California</li>
      <li>
        1998-2004 Graduate Studies in Anthropology and Tibetan Studies (MA)
      </li>
    </ul>
  </div>
  <img
    src="static/images/foot_massage.jpeg"
    class="d-sm-none img-fluid rounded mx-auto d-block"
    alt="Foot massage"
  />
  <h2 class="text-center handwriting mt-5">
    “The curious paradox is that when I can accept myself as I am, then I can
    change”
  </h2>
  <p class="text-center small">~ Carl Rogers ~</p>
</div>
<div lang="de">
  <p>
    Die Heiltraditionen verschiedener Völker haben mich schon seit meinem
    Ethnologie und Tibetologie Studium in Berlin fasziniert. Durch mehrere
    Reisen in den Himalaya und langjährige Arbeit in einem buddhistischen
    Retreat Zentrum konnte ich mich in tibetisches Yoga und Meditation
    vertiefen. Auch wurde hier mein Interesse am Training des Geistes geweckt,
    bei dem durch Bewusstwerdung und Entspannung unbewusste Verhaltensmuster
    aufgedeckt und in ein befreites und waches Da-Sein verwandelt werden können.
  </p>
  <p>
    Nach einer Armverletzung entstand der Wunsch, mich intensiver mit Heilung zu
    beschäftigen. Ich schloss eine <i>Hatha Yoga</i> Ausbildung in Indien ab und
    lernte dann die traditionelle <i>Fuß-Reflexologie</i> in Thailand. Da viele
    meiner Klienten unter Stress litten und sich mehr Entspannung wünschten,
    folgte die Zertifizierung zur <i>Entspannungstherapeutin</i> und
    <i>Stress-Management-Trainer</i> in Deutschland. Um meine Toolbox zu
    erweitern und Menschen zu helfen, ihre Lebensträume umzusetzen, machte ich
    eine Ausbildung zum <i>Spiritual Life Coach,</i> sowie zum
    <i>Mindfulness</i> und <i>Atem Coach</i>.
  </p>
  <img
    src="static/images/foot_massage.jpeg"
    class="d-none d-sm-inline img-fluid rounded float-right m-1 ml-4"
    width="500px"
    alt="Foot massage"
  />
  <p class="text-left text-md-justify">
    Im Umgang mit meinen Klienten wurde schnell deutlich, das sich viele
    Menschen mit alten, frühkindlichen Bewältigungsstrategien selber im Weg
    stehen und das sich diese nicht immer durch Gespräche allein lösen lassen.
    Auf der Suche nach einer somatischen Technik, die dabei helfen kann, diese
    unbewussten Muster zu sehen und zu lösen, fand ich schliesslich die
    Rosen-Methode Körperarbeit. Kennengelernt habe ich die Methode 2013 in
    Kalifornien und ihre Sanftheit, Direktheit und Kraft haben mich gleich
    beeindruckt. Es stand schnell fest, dass ich die Rosen-Methode lernen wollte
    und ich entschied mich für die ausführliche 5-jährige Ausbildung. Mein
    Wissen habe ich bei international renommierten Rosen-Lehrern wie Juliane
    Knoop, Maud Guettler, Martial Duvoisin, Lotti Vialle-Maibach, Valerie Luoto,
    Bill Samsel, Sarah Dandridge, Charity Martin und Sara Webb erworben. Ich bin
    seit 2019 Mitglied im
    <a href="https://roseninstitute.net" target="_blank">Rosen Institute</a>,
    das die Qualität und die Standards der Rosen-Methode schützt und erhält.
    Seit 2020 bin ich Redaktionsmitglied des “<a
      href="https://roseninstitute.net/journal/journal-volumes"
      target="_blank"
      >Rosen Method International Journal</a
    >”, einer Online Publikation von Artikeln und Studien zum Effekt der
    Rosen-Methode im Bereich von Stress, psychosomatischen Erkrankungen und
    Traumaheilung. Ausserdem befinde ich mich seit 2023 ich mich in Ausbildung
    in "Compassionate Inquiry", einem körper-psychotherapeutischem Ansatz, die
    von dem kanadischen Arzt Dr. Gabor Maté enwickelt wurde und ergänzend zur
    Rosen Methode sehr wirksam ist.
  </p>
  <p>
    Ich teile meine Zeit zwischen Deutschland, Kalifornien und dem Himalaya, wo
    ich seit mehreren Jahren buddhistische Nonnen behandle. Außerdem arbeite ich
    seit Sommer 2022 mit Flüchtlingen aus der Ukraine, denen ich helfe, in
    Deutschland und in ihrem Körper anzukommen.
  </p>
  <p>
    Neben der Rosen-Methode biete ich auch individuelle Sitzungen in
    <strong><i>Embodied Coaching</i></strong> an. Hierbei werde einfache aber
    effektive Achtsamkeits-, Atem- und Yogaübungen ergänzend zu traditionellen
    Coaching Tools verwendet. Bei Interesse oder Fragen benutzen Sie gerne das
    <a href="/contact">Kontaktformular</a>.
  </p>
  <p>Ich freue mich darauf, Sie ein Stück auf Ihrem Weg begleiten zu dürfen!</p>
  <div class="alert shadow-sm text-box-about">
    <strong>Meine Qualifikationen:</strong>
    <ul class="mb-0">
      <li>
        seit 2023 in Ausbildung in „Compassionate Inquiry“ mit Dr. Gabor Maté
      </li>
      <li>seit 2022 Embodied Yoga Principles (EYP) Coach</li>
      <li>seit 2021 Achtsamkeits- und Atem Coach</li>
      <li>seit 2020 Certified Life Coach</li>
      <li>seit 2018 Yoga Lehrerin (200 Stunden, Rishikesh, Indien)</li>
      <li>seit 2017 Entspannungstherapeutin und Stress Management Trainerin</li>
      <li>
        2017-2023 Ausbildung in Rosen-Methode Körperarbeit und Movement an der
        Schule für Rosen-Methode in Berkeley, Kalifornien.
      </li>
      <li>
        2004-2016 Aufenthalt in einem buddhistische Zentrum in Kalifornien/USA.
        Praxis und Studium buddhistischer Lehren, Tätigkeit als Sprachlehrerin
        für Tibetisch, Leitung einer Buchbinderei.
      </li>
      <li>1998-2004 Studium Ethnologie und Tibetologie (M.A.)</li>
    </ul>
  </div>
  <img
    src="static/images/foot_massage.jpeg"
    class="d-sm-none img-fluid rounded mx-auto d-block"
    alt="Foot massage"
  />
  <h2 class="text-center handwriting mt-5">
    “Es ist paradox, aber wenn ich mich so akzeptiere wie ich bin, dann kann ich
    mich verändern”
  </h2>
  <p class="text-center small">~ Carl Rogers ~</p>
</div>
{% endblock %}
