{% extends "layout.html" %}

{% block color %}
    #8fcef7
{% endblock %}

{% block slogan %}
{% endblock %}

{% block slogan2 %}
{% endblock %}

{% set img = "stupa" %}
{% set alt = "Prayer Flags" %}

{% block heading %}
    <span lang="en">About me</span><span lang="de">Über mich</span>
{% endblock %}

{% block main %}
    <img src="static/images/Anette_2_cropped.jpg" class="img-fluid blockPic rounded float-left m-2 mr-3 ml-0" width="350px" alt="Anette Kögler">
    <div lang="en">
        <p>I first encountered the Rosen-Method in California in 2012 several months after Marion Rosen passed away. I was impressed by its gentleness, 
            simplicity and power and I quickly knew that I wanted to learn this work. It brings me great joy to share it with my clients!</p>
        <p>I initially got interested in healing systems while working on my M.A. in Anthropology and Tibetan Studies. After several trips to the Himalayas 
            I worked for over a decade as a full time volunteer in a Buddhist retreat center where I practiced Tibetan Yoga and Meditation. I studied Buddhist 
            psychology and became very interested in the power of the mind to free us from self-imposed limitations.</p>
        <p>After a repetitive stress injury the opportunity arose to deepen my healing journey. I first trained as a <i>Hatha Yoga</i> Teacher in India and then 
            learned traditional <i>Foot Reflexology</i> in Thailand. Noticing the need for relaxation and ease in my clients I got certified as a <i>Stress 
            Reduction Trainer</i> and <i>Relaxation Therapist</i> in Germany. In order to widen my toolbox, I completed a <i>Spiritual Life Coach</i> and 
            <i>Breath Coach</i> training program.</p>
        <img src="static/images/foot_massage.jpeg" class="d-none d-sm-inline img-fluid rounded float-right m-1 ml-4" width="500px" alt="Foot massage">
        <p class="text-left text-md-justify">Because many clients struggled with the effects of trauma, I was looking for a way to help them more effectively. That’s when I enrolled in the 5-year
            program in Rosen-Method Bodywork, which convinced me with its power and simplicity. I am now in the last phase of my training (internship) which will end 
            in certification. My training has been overseen by international Rosen teachers Sara Webb, Bill Samsel, Sarah Dandridge, Valerie Luoto, Juliane Knoop, 
            Maud Guettler, Martial Duvoisin and Lotti Vialle-Maibach. I am a member of the <a href="https://roseninstitute.net" target="_blank">Rosen Institute</a> 
            which upholds the quality standards of the Rosen-Method. Since 2020 I am on the board of the 
            <a href="https://roseninstitute.net/journal/journal-volumes" target="_blank">Rosen Method International Journal</a>, an online publication about the 
            contribution of Rosen-Method to trauma research and neuroscience. I split my time between Germany, California and the Himalayas, where I offer free 
            bodywork treatments to Buddhist nuns.</p>
        <p>Besides Rosen-Method Bodywork I also offer sessions in <strong><i>Spiritual Life and Breath Coaching</i></strong>, <strong><i>Restorative and Trauma Sensitive 
            Yoga</i></strong> and <strong><i>Thai Foot Reflexology</i></strong>. Please <a href="/contact">contact</a> me if you are interested in my offers or have any questions.</p>
        <p>I am looking forward to supporting you on your path!</p>
        <img src="static/images/foot_massage.jpeg" class="d-sm-none img-fluid rounded mx-auto d-block" alt="Foot massage">
        <h2 class="text-center handwriting mt-5">“The curious paradox is that when I can accept myself as I am, then I can change”</h2>
        <p class="text-center small">~ Carl Rogers ~</p>
    </div>
    <div lang="de">
        <p>Kennengelernt habe ich die Rosen-Methode 2012 in Kalifornien kurz nach dem Tod ihrer Begründerin, der Physiotherapeutin Marion Rosen. 
            Die Sanftheit, Direktheit und Kraft dieser Körperarbeit haben mich gleich beeindruckt. Es stand schnell fest, dass ich die Rosen-Methode lernen 
            wollte und es macht mir viel Freude, sie heute mit meinen Klienten teilen zu können!</p>
        <p>Die Heiltraditionen verschiedener Völker haben mich schon seit meinem Ethnologie und Tibetologie Studium in Berlin fasziniert. 
            Durch mehrere Reisen in den Himalaya und langjährige Arbeit in einem buddhistischen Retreat Zentrum konnte ich mich in tibetisches Yoga 
            und Meditation vertiefen. Auch wurde hier mein Interesse am Training des Geistes geweckt, bei dem durch Bewusstwerdung und Entspannung 
            unbewusste Verhaltensmuster aufgedeckt und in ein befreites und waches Da-Sein verwandelt werden können.</p>
        <p>Nach einer Verletzung am Arm entstand der Wunsch, mich intensiver mit Heilung zu beschäftigen. Ich schloss eine <i>Hatha Yoga</i> 
            Ausbildung in Indien ab und lernte dann die traditionelle <i>Fuß-Reflexologie</i> in Thailand. Da viele meiner Klienten unter Stress litten 
            und sich mehr Entspannung wünschten, folgte die Zertifizierung zur <i>Entspannungstherapeutin</i> und <i>Stress-Management-Trainer</i> in Deutschland. 
            Um meine Toolbox zu erweitern und Menschen zu helfen, ihre Lebensträume umzusetzen, machte ich eine Ausbildung zum <i>Spiritual Life Coach</i> 
            und zum <i>Atem Coach</i>.</p>
        <img src="static/images/foot_massage.jpeg" class="d-none d-sm-inline img-fluid rounded float-right m-1 ml-4" width="500px" alt="Foot massage">
        <p class="text-left text-md-justify">Auf der Suche nach einer Technik die Menschen helfen kann, ihre unbewussten Muster  zu sehen und zu lösen, fand ich schliesslich die 
            Rosen-Methode. Ich entschied mich für die ausführliche 5-jährige Ausbildung und befinde mich im Moment im letzten Abschnitt, welcher der 
            Zertifizierung voraus geht. Mein Wissen habe ich bei international renommierten Rosen-Lehrern wie Juliane Knoop, Maud Guettler, Martial Duvoisin, 
            Lotti Vialle-Maibach, Valerie Luoto, Bill Samsel, Sarah Dandridge und Sara Webb erworben. Ich bin seit 2019 Mitglied im 
            <a href="https://roseninstitute.net" target="_blank">Rosen Institute</a>, das die Qualität und die Standards der Rosen-Methode schützt und erhält. 
            Seit 2020 bin ich Redaktionsmitglied des “<a href="https://roseninstitute.net/journal/journal-volumes" target="_blank">Rosen Method International Journal</a>”, 
            einer Online Publikation zu den Themen Trauma Heilung, Neuroscience und Rosen Methode. Ich teile meine Zeit zwischen Deutschland, Kalifornien und dem 
            Himalaya, wo ich seit mehreren Jahren ehrenamtlich buddhistische Nonnen behandle.</p>
        <p>Neben der Rosen-Methode biete ich auch individuelle Sitzungen in <strong><i>Spiritual Life und Atem Coaching</i></strong>, <strong><i>Restorative und 
            Trauma Sensitive Yoga</i></strong> und <strong><i>Thai Fuß-Reflexologie</i></strong> an. Bei Interesse oder Fragen benutzen Sie gerne das <a href="/contact">Kontaktformular</a>.</p>
        <p>Ich freue mich darauf, Sie ein Stück auf Ihrem Weg begleiten zu dürfen!</p>
        <img src="static/images/foot_massage.jpeg" class="d-sm-none img-fluid rounded mx-auto d-block" alt="Foot massage">
        <h2 class="text-center handwriting mt-5">“Es ist paradox, aber wenn ich mich so akzeptiere wie ich bin, dann kann ich mich verändern”</h2>
        <p class="text-center small">~ Carl Rogers ~</p>
    </div>
{% endblock %}
