{% extends "layout.html" %}

{% block color %}
    #ffdb4d
{% endblock %}

{% block slogan %}
    <div class="p-2 p-sm-4 mb-5 quote2">
        <span lang="en">"Becoming Alive to <span style="white-space: nowrap;">all Possibilities"</span></span>
        <span lang="de"><span style="white-space: nowrap;">"Sich neuen</span> Möglichkeiten öffnen"</span>
    </div>
{% endblock %}

{% block slogan2 %}
{% endblock %}

{% set img = "sunset-174276" %}
{% set alt = "Poppy Field" %}

{% block heading %}
    <span lang="en">Contact me</span><span lang="de">Kontakt</span>
{% endblock %}

{% block main %}
    <!-- Alert to display feedback on form submission. Is only being used when JavaScript is not enabled. -->
    {% if feedback %}
        {% if category == "success" %}
            <div id="formalert" class="alert alert-success text-center mt-5" aria-describedby="alertinfo">
        {% else %}
            <div id="formalert" class="alert alert-danger text-center mt-5" aria-describedby="alertinfo">
        {% endif %}
        {% if locale == "de" %}
                {{ feedback[1] }}
        {% else %}
                {{ feedback[0] }}
        {% endif %}
        </div>
        <div id="alertinfo" class="sr-only">
            <span lang="en">Displays feedback on contact form submission in case JavaScript is not enabled.</span>
            <span lang="de">Gibt Rückmeldung wenn das Formular abgesendet wird</span>
        </div>
    {% endif %}

    <!-- Customized Bootstrap form - contact form with input validation-->
    <form id="contact-form" method="post" class="mt-5">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder={% if locale == "de" %}"Ihr Name"{% else %}"Your name"{% endif %} required>
            <div class="valid-tooltip">
                <span lang="en">Looks good!</span><span lang="de">Passt!</span>
            </div>
            <div class="invalid-tooltip">
                <span lang="en">Please provide your name.</span>Bitte geben Sie einen Namen an.<span lang="de"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder={% if locale == "de" %}"email@beispiel.de"{% else %}"yourmail@example.com"{% endif %} required>
            <div class="valid-tooltip">
                <span lang="en">Looks good!</span><span lang="de">Passt!</span>
            </div>
            <div class="invalid-tooltip">
                <span lang="en">Please provide a valid email address.</span><span lang="de">Bitte geben Sie Ihre Emailadresse an.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="emailConfirm"><span lang="en">Confirm Email</span><span lang="de">Email bestätigen</span></label>
            <input type="email" class="form-control" id="emailConfirm" placeholder={% if locale == "de" %}"email@beispiel.de"{% else %}"yourmail@example.com"{% endif %} required>
            <div class="valid-tooltip">
                <span lang="en">Looks good!</span><span lang="de">Passt!</span>
            </div>
            <div class="invalid-tooltip">
                <span lang="en">Email adresses don't match.</span><span lang="de">Emailadressen stimmen nicht überein.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="message"><span lang="en">Your Message</span><span lang="de">Ihre Anfrage</span></label>
            <textarea class="form-control" name="message" id="message" rows="3" placeholder={% if locale == "de" %}"Ihre Anfrage hier..."{% else %}"Let us know your inquiry..."{% endif %} required></textarea>
            <div class="valid-tooltip">
                <span lang="en">Looks good!</span><span lang="de">Passt!</span>
            </div>
            <div class="invalid-tooltip">
                <span lang="en">Please let us know your question.</span><span lang="de">Geben Sie bitte Ihre Anfrage ein.</span>
            </div>
        </div>
        <button class="btn btn-secondary" type="submit"><span lang="en">Submit</span><span lang="de">Senden</span></button>
    </form>
    <div role="alert" aria-describedby="toastinfo" style="position: fixed; top: 109px; right: 3px;">
        <div class="toast" data-delay="5000">
            <div class="toast-header">
                <img src="{{ url_for('static', filename='images/rosen_orange_blue.png') }}" class="mr-2" width="20px" height="20px" alt="">
                <strong class="mr-auto">Test</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="toast-body">
                    Test, test, test...
                </div>
          </div>
          <div id="toastinfo" class="sr-only">
              <span lang="en">Displays feedback on contact form submission. Requires JavaScript.</span>
              <span lang="de">Gibt Rückmeldung ob das Kontaktormular erfolgreich. Braucht JavaScript.</span>
          </div>
    </div>
{% endblock %}
