{% extends "layout.html" %}

{% block color %}
    #f8f8ff
{% endblock %}

{% block image %}
{% endblock %}

{% block heading %}
    <span lang="en">Credits</span><span lang="de">Bildnachweis</span>
{% endblock %}

{% block main %}
    <div lang="en">
        <h3>Image credits</h3>
        <p>
            <a href="https://www.freepik.com/free-photo/african-american-woman-receiving-relaxing-massage-spa_9077932.htm" target="_blank">
            "African American woman receiving a relaxing massage at the spa"</a>
            <br>
            Credit: <a href="https://www.freepik.com/racool-studio" target="_blank">Racool_studio</a> via <a href="https://www.freepik.com/" target="_blank">www.freepik.com</a>  
        </p>
        <p>
            <a href="https://www.freepik.com/free-photo/woman-getting-head-massage_982743.htm" target="_blank">
            "Woman getting a head massage"</a>
            <br>
            Credit: <a href="https://www.freepik.com/katemangostar" target="_blank">katemangostar</a> via <a href="https://www.freepik.com/" target="_blank">www.freepik.com</a>  
        </p>
        <h3 class="mt-5">Web programming</h3>
        <p>Design: Anette & Christof Kögler</p>
        <p>Programming: Christof Kögler</p>
    </div>
    <div lang="de">
        <h3>Bildnachweis</h3>
        <p>
            <a href="https://www.freepik.com/free-photo/african-american-woman-receiving-relaxing-massage-spa_9077932.htm" target="_blank">
            "African American woman receiving a relaxing massage at the spa"</a>
            <br>
            Credit: <a href="https://www.freepik.com/racool-studio" target="_blank">Racool_studio</a> via <a href="https://www.freepik.com/" target="_blank">www.freepik.com</a>  
        </p>
        <p>
            <a href="https://www.freepik.com/free-photo/woman-getting-head-massage_982743.htm" target="_blank">
            "Woman getting a head massage"</a>
            <br>
            Credit: <a href="https://www.freepik.com/katemangostar" target="_blank">katemangostar</a> via <a href="https://www.freepik.com/" target="_blank">www.freepik.com</a>  
        </p>
        <h3 class="mt-5">Webprogrammierung</h3>
        <p>Design: Anette & Christof Kögler</p>
        <p>Programmierung: Christof Kögler</p>
    </div>


{% endblock %}
