{% extends "layout.html" %}

{% block color %}
    #80d4ff
{% endblock %}

{% block slogan %}
    <!--h1 class="headline display-3"><span lang="en">Welcome   <span class="invisible">.</span></span></h1>
    <h1 class="headline-de display-4"><span lang="de">Willkommen</span></h1-->
{% endblock %}

{% set img = "water-lily-3784022" %}
{% set alt = "Water Lily" %}

{% block slogan2 %}
{% endblock %}

{% block heading %}
    <span lang="en">Welcome home!</span><span lang="de">Herzlich Willkommen!</span>
{% endblock %}

{% block main %}
    <div lang="en">
        <p>I am glad that you are here.</strong></p>
        <ul>
            <li>Do you experience stress or chronic muscle tension? </li>
            <li>Would you like to relax and feel more whole? </li>
            <li>Are you seeking physical, emotional and spiritual awareness? </li>
            <li>Do you wish to feel more authentic and alive?</li>
        </ul>
        <p>Then <a href="/rosen" class="strong">Rosen-Method Bodywork</a> might be for you!</p>
        <p>Working with gentle and non-intrusive touch, a <a href="/session" class="strong">Rosen session</a>  is a powerful tool for people seeking relaxation, stress reduction, emotional healing and insight into habitual holding patterns of body and mind.</p>
        <p>If this speaks to you please don’t hesitate to <a href="/contact" class="strong">contact me</a> to schedule a first session in the San Francisco Bay Area.
            I am looking forward to meeting you!</p>
        <h2 class="text-center handwriting mt-5">“In every human being there is a special heaven whole and unbroken”</h2>
        <p class="text-center small">~ Paracelsus, 15th century ~</p>
    </div>
    <div lang="de">
        <p class="mt-1"><strong>Schön, dass Sie mich gefunden haben.</strong></p>
        <ul>
            <li>Wünschen Sie sich Entspannung und weniger Stress? </li>
            <li>Möchten Sie unbewusste Reaktionsmuster beleuchten? </li>
            <li>Sind Sie an emotionalem oder spirituellem Wachstum interessiert?</li>
            <li>Suchen Sie nach Neuorientierung in Zeiten von Veränderung?</li>
        </ul>
        <p>Dann könnte die <a href="/rosen" class="strong">Rosen-Methode Körperarbeit</a> genau das richtige für Sie sein!</p>
        <p>Mit sanfter und achtsamer Berührung werden bei einer <a href="/session" class="strong">Behandlung</a> chronische Verspannungen in den Muskeln gelöst. Dadurch wird der Atem freier und das Nervensystem kann sich beruhigen. Sie können sich selbst und anderen mit neuer Energie und Lebendigkeit im Jetzt begegnen. </p>
        <p>Ich biete Behandlungen im Raum Karlsruhe und in Kalifornien an. Bei Interesse benützen Sie bitte die <a href="/contact" class="strong">Kontaktseite</a>, um einen ersten Termin zu buchen. Ich freue mich auf Sie!</p>
        <p class="ml-5 mt-2">Ihre Anette Kögler</p>
        <h2 class="text-center handwriting mt-5">„In jedem Menschen ist eine innere Sonne. Man muss sie nur zum Leuchten bringen.“</h2>
        <p class="text-center small">~ Sokrates, 5. Jh. v. Chr. ~</p>    </div>
{% endblock %}
