{% extends "layout.html" %}

{% block color %}
    #80d4ff
{% endblock %}

{% block slogan %}
    <!--h1 class="headline display-3"><span lang="en">Welcome   <span class="invisible">.</span></span></h1>
    <h1 class="headline-de display-4"><span lang="de">Willkommen</span></h1-->
{% endblock %}

{% set img = "water-lily-3784022" %}
{% set alt = "Water Lily" %}

{% block slogan2 %}
{% endblock %}

{% block heading %}
    <span lang="en">Welcome home!</span><span lang="de">Herzlich Willkommen!</span>
{% endblock %}

{% block main %}
    <div lang="en">
        <p>I am glad that you are here.</strong></p>
        <ul>
            <li>Do you experience stress or chronic muscle tension? </li>
            <li>Would you like to relax and feel more whole? </li>
            <li>Are you seeking physical, emotional and spiritual awareness? </li>
            <li>Do you wish to feel more authentic and alive?</li>
        </ul>
        <p>Then <a href="/rosen" class="strong">Rosen-Method Bodywork</a> might be for you!</p>
        <p>Working with gentle and non-intrusive touch, a <a href="/session" class="strong">Rosen session</a>  is a powerful tool for people seeking relaxation, stress reduction, emotional healing and insight into habitual holding patterns of body and mind.</p>
        <p>If this speaks to you please don’t hesitate to <a href="/contact" class="strong">contact me</a> to schedule a first session in the San Francisco Bay Area.
            I am looking forward to meeting you!</p>
        <h2 class="text-center handwriting mt-5">“In every human being there is a special heaven whole and unbroken”</h2>
        <p class="text-center small">~ Paracelsus, 15th century ~</p>
        <h3 class="m-3 mt-5">Testimonials</h3>
        <div id="carousel-en" class="carousel slide mb-4" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carousel-en" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-en" data-slide-to="1"></li>
                <li data-target="#carousel-en" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card" style="background-color: #ccedff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>“Your hands were very warm and soothing. It seems that your touch activated energy channels in my body and gave direction to the flow. I could feel the heat and flow moving to areas I wasn’t conscious of holding tension, and releasing it.</p>
                                <p> It was extraordinary and I have had a lot of massages in my life.”</p>
                                Alicia F. 
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="background-color: #b3e4ff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>„Anette is a sensitive and very caring therapist. I would come back to see her again in a heartbeat. It’s amazing how deeply the heart can be moved by physical touch - and how healing that can be. Thank you very much! Highly recommended!”</p>
                                Sebastian W.
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="background-color: #ccedff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>„I’ve suffered from scoliosis since childhood. Anette‘s treatment was very relaxing, it had a soothing effect on my whole body and my pain was relieved.”</p>
                                Brigitte S.
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carousel-en" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-en" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div lang="de">
        <p class="mt-1"><strong>Schön, dass Sie mich gefunden haben.</strong></p>
        <ul>
            <li>Wünschen Sie sich Entspannung und weniger Stress? </li>
            <li>Möchten Sie unbewusste Reaktionsmuster beleuchten? </li>
            <li>Sind Sie an emotionalem oder spirituellem Wachstum interessiert?</li>
            <li>Suchen Sie nach Neuorientierung in Zeiten von Veränderung?</li>
        </ul>
        <p>Dann könnte die <a href="/rosen" class="strong">Rosen-Methode Körperarbeit</a> genau das richtige für Sie sein!</p>
        <p>Mit sanfter und achtsamer Berührung werden bei einer <a href="/session" class="strong">Behandlung</a> chronische Verspannungen in den Muskeln gelöst. Dadurch wird der Atem freier und das Nervensystem kann sich beruhigen. Sie können sich selbst und anderen mit neuer Energie und Lebendigkeit im Jetzt begegnen.</p>
        <p>Ich biete Behandlungen im Raum Karlsruhe und in Kalifornien an. Bei Interesse benützen Sie bitte die <a href="/contact" class="strong">Kontaktseite</a>, um einen ersten Termin zu buchen. Ich freue mich auf Sie!</p>
        <p class="ml-5 mt-2">Ihre Anette Kögler</p>

        <h2 class="text-center handwriting mt-5">„In jedem Menschen ist eine innere Sonne. Man muss sie nur zum Leuchten bringen.“</h2>
        <p class="text-center small">~ Sokrates, 5. Jh. v. Chr. ~</p>

        <h3 class="m-3 mt-5">Was meine Klienten sagen:</h3>
        <div id="carousel-de" class="carousel slide mb-4" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carousel-de" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-de" data-slide-to="1"></li>
                <li data-target="#carousel-de" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card" style="background-color: #ccedff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>„Anette ist eine einfühlsame und sehr zugewandte Körpertherapeutin, der ich mich jederzeit wieder anvertrauen würde.</p>
                                <p>
                                Es ist wirklich erstaunlich wie tief man im Herzen von einer Berührung bewegt werden kann und wie heilsam diese Erfahrung ist. Vielen Dank! Sehr zu empfehlen!" </p>
                                Sebastian W.
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="background-color: #b3e4ff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>„Deine Hände waren sehr warm und die Berührung entspannend. Es kam mir so vor, als hätte Deine Berührung die Energiekanäle in meinem Körper aktiviert und dem Energiefluss eine neue Richtung gegeben. Ich konnte spüren, wie die Wärme und die Bewegung in Gegenden geströmt sind, wo ich mir vorher gar keiner Spannung bewusst war. Diese Anspannung hat sich dann aufgelöst.</p>
                                
                                <p>Es war unglaublich, und ich habe schon viele Massagen in meinem Leben bekommen!“</p>
                                Alicia F.                                
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card" style="background-color: #ccedff;">
                        <div class="card-body row">
                            <div class="col"></div>
                            <div class="col-9 d-flex flex-column justify-content-center">
                                <p>„Ich leide seit meiner Kindheit an Skoliose. Die Behandlung bei Frau Kögler war sehr erholsam und hat auf den ganzen Körper entspannend und schmerzlösend gewirkt.“</p>
                                Brigitte S.
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carousel-de" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-de" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
        
    </div>
{% endblock %}
