{% extends "layout.html" %}

{% block description_de -%}
    Den Körper berühren, die Seele erreichen. Die Rosen-Methode ist eine ganzheitliche Körpertherapie. Durch achtsame, sanfte Berührung kann es zu einer tiefen Entspannung, Vitalität und mehr Akzeptanz und Selbst-Liebe kommen.
{%- endblock description_de %}

{% block description_en -%}
    Touching the body, reaching the soul. Rosen-Method is a unique form of bodywork that is simple yet powerful. Through gentle and non-intrusive touch clients can release chronic tension, contact deep relaxation, and find new vitality.
{%- endblock description_en %}

{% block title_de %}
    Rosen-Methode
{% endblock title_de %}

{% block title_en %}
    Rosen-Method
{% endblock title_en %}

{% block color %}
    #ffc78a
{% endblock %}

{% set img = "pyramid" %}
{% set alt = "Stone pyramid" %}

{% block alert %}
{% endblock %}

{% block heading %}
    <span lang="en">The Rosen-Method</span><span lang="de">Die Rosen-Methode</span>
{% endblock %}

{% block main %}
    <div lang="en">
        <p>
            Rosen-Method is a unique form of bodywork that is simple and yet powerful. Practitioners use gentle, non-manipulative touch,
            attention to breath and verbal reflection to attune to their clients. This process can lead to a release of chronic tension,
            to emotional healing, increased awareness of physical and emotional patterns, and deep relaxation.
        </p>
        <h2>Reconnecting to body and emotions</h2>
        <p>
            When we experience stress or go through challenging experiences, our bodies go into survival mode and stress chemicals are released.
            If the situation is too overwhelming, we can become disconnected from our bodies and feelings and the emotional charge and memories
            get stored in our bodies. Chronic muscle tension also develops if we have to hold back our feelings or if we cannot show ourselves the
            way we really are. These holding patterns become unconscious and are expressed in protective postural and muscular habits that restrict
            and limit us over time.
        </p>
        <img class="img-fluid rounded float-left d-none w-50 d-sm-inline m-2 mr-3 ml-0" src="{{ url_for('static', filename='images/back_massage.jpg') }}" alt="Rosen Touch">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" src="{{ url_for('static', filename='images/back_massage.jpg') }}" alt="Rosen Touch">
        <p>
            Rosen practitioners bring curious and non-judgmental acceptance to these patterns, sensations and emotions. With gentle, listening
            touch and simple words they help their clients release muscular tension that was used to protect them from frightening sensations in
            the past. By attuning to clients’ inner experience in an open and compassionate way they help them to reconnect with their bodies and feelings.
        </p>
        <p>
            Attuned touch leads to the release of Oxytocin, the “love” hormone of safety and trust. Oxytocin down-regulates the stress hormone Cortisol and leads to feeling calm and connected.
        </p>
       <h2>Mobilizing the Vagus Nerve</h2>
        <p>
            Special attention is put on relaxing the diaphragm and other muscles that are connected with the Vagus Nerve (the main nerve of the
            parasympathetic nervous system). Muscular holding patterns often include the breathing muscles: we breathe up in our chest, hold our
            breath or don’t exhale fully. Activating the Vagus Nerve calms and balances the nervous system, allowing the breath to flow more freely
            and the muscles to fully relax.
        </p>
        <p>
            Practitioners are trained to hold a safe space for clients to experience and get comfortable with strong feelings. Their non-intrusive and
            listening touch comes from their hearts and signals the client: “I am here for you. You are accepted just as you are.” Recent research in
            neuroplasticity has shown that painful memories can get re-wired in a safe and accepting environment, freeing the energy once held in protective
            patterns to be used for living fully in the present.
        </p>
        <h3>Compassionate Self-Acceptance</h3>
        <p>
            Recognizing habitual holding patterns and daring to truly feel our feelings brings us to a place of choice: are my old,
            protective patterns still necessary today?
        </p>
        <p>
            With compassionate self-acceptance we can notice our feelings and allow them to open up and change. We become able to live more fully
            in the present moment without having to constantly edit our experience. Over time, this brings us closer to living from our hearts and
            living our truth, and to thus become more authentic beings. Rosen work can also bring insights into relationships, work and life in
            general. With the release of muscular barriers there is an increase in body awareness, vitality and resilience. Self-confidence naturally
            grows, helping us to regain wholeness, balance and well-being.
        </p>
        <p>
            Rosen-Method is an effective complement to psychotherapy and medical treatments but does not replace evaluation and treatment by a trained physician.
        </p>
        <img class="img-fluid rounded" src="{{ url_for('static', filename='images/head_massage.jpg') }}" alt="Rosen Touch">
        <h2 class="text-center handwriting mt-5">"Your task is not to seek for love, but merely to seek and find all the barriers within yourself that you have built against it."</h2>
        <p class="text-center small">~ Rumi (1207-1273) ~</p>
        <h2>Literature</h2>
        <ul>
            <li>
                Marion Rosen “The Rosen Method”
            </li>
            <li>
                Elaine L. Mayland “Rosen-Method Bodywork”
            </li>
            <li>
                Alan Fogel “Body Sense: The Science and Practice of Embodied Self-Awareness”
            </li>
            <li>
                Ivy Green “Relaxation, Awareness, Resilience: Rosen Method Bodywork Science and Practice”
            </li>
            <li>
                Marion Rosen/Susan Brenner “Rosen-Method Movement”
            </li>
        </ul>
    </div>
    <div lang="de">
        <p>
            Die Rosen-Methode ist eine ganz besondere Art der Körpertherapie, die sich durch ihre Achtsamkeit und Sanftheit auszeichnet.
            Durch respektvolle Berührung, Beobachten der Atembewegung und einfühlsame Worte treten Praktizierende mit ihren Klienten in
            Resonanz. Dieser Prozess kann zum Lösen chronischer Muskelanspannung, zu mehr Bewusstheit körperlicher und emotionaler Muster,
            zu mehr Lebensenergie und Selbst-Annahme führen.
        </p>
        <h2>Sich wieder mit Körper und Emotionen verbinden</h2>
        <p>
            Im Laufe unseres Lebens kommt es vor, dass unsere Gefühle verletzt werden oder dass wir grösseren Herausforderungen begegnen.
            Wenn eine Situation als überwältigend erlebt wird, geht unser Nervensystem in den Überlebensmodus und es kann zum Abkoppeln von
            Erinnerungen und Emotionen kommen. Die emotionale Ladung wird im Körpergedächtnis gespeichert: wenn wir unsere Gefühle verdrängen,
            uns zurückhalten müssen oder uns nicht zeigen können, spannen wir instinktiv unsere Muskeln an. Mit der Zeit wird diese chronische
            Muskelspannung unbewusst und die daraus entstehenden Bewegungsmuster schränken uns wie innere Barrieren immer mehr ein. Wir verlieren
            unsere Lebendigkeit und den Kontakt zu unsrem innersten Wesenskern.
        </p>
        <img class="img-fluid rounded float-left d-none w-50 d-sm-inline m-2 mr-3 ml-0" src="{{ url_for('static', filename='images/back_massage.jpg') }}" alt="Rosen Touch">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" src="{{ url_for('static', filename='images/back_massage.jpg') }}" alt="Rosen Touch">
        <p>
            Rosen Praktizierende wenden sich mit Neugierde und Mitgefühl diesen im Körper gehaltenen Spannungsmustern und Gefühlen zu.
            Mit entspannten, lauschenden Händen und wertungsfreien Worten helfen sie ihren Klienten, sich ihrer Muskelspannung bewusst zu werden.
            Indem sie auf das innere Erfahren ihrer Klienten eingehen, wird die Verbindung zu ihren Körpern und Gefühlen wieder hergestellt.
            Die in den Muskelverspannungen festgehaltene Energie kann sich lösen und als neue Lebenskraft erfahrbar werden.
        </p>
        <p>
            Sanfte und einfühlsame Berührung führt dazu dass das „Liebeshormon“ Oxytocin ausgeschüttet wird. Es blockiert das Stresshormon Cortisol und führt dazu, dass wir uns entspannt und sicher fühlen.
        </p>
       <h2>Den Vagus-Nerv aktivieren</h2>
        <p>
            Muskelanspannung schlägt sich auch in den Atemmuskeln nieder, besonders im Zwerchfell. Der Atem wird flach oder sogar immer wieder
            angehalten und die Ausatmung wird verkürzt. Das Zwerchfell wird vom Vagus Nerv, dem wichtigsten Nerv des parasympatischen Nervensystems,
            innerviert. Durch die sanfte Berührung wird der Vagus Nerv aktiviert, so dass sich das Nervensystem beruhigen kann und wieder ins
            Gleichgewicht kommt. Der Atmen kann freier strömen und muskuläre Verspannungen in den Atemmuskeln können sich lösen.
        </p>
        <p>
            Rosen Praktizierende schaffen durch ihre Berührung und Worte einen Raum, in dem sich ihre Klienten sicher fühlen und es wagen können,
            auch starke Gefühle wirklich wahrzunehmen. Dadurch können die alten Verspannungen nach und nach aufgegeben werden. Neue Studien zur
            Neuroplastizität des Nervensystems zeigen, dass schmerzhafte Erinnerungen, die in einer Atmosphäre von Sicherheit und Geborgenheit
            erinnert werden, ihre emotionale Ladung verlieren. Die Energie, die vorher in den Schutzmechanismen gehalten wurde, wird freigesetzt
            und kann genutzt werden um ganz in der Gegenwart zu leben.
        </p>
        <h2>Sich selbst mit Mitgefühl begegnen</h2>
        <p>
            Wenn wir beginnen, unsere inneren Haltemuster wahrzunehmen und es wagen, uns berühren zu lassen, dann stehen wir vor der Wahl:
            sind unsere alten Schutzmechanismen heute wirklich noch notwendig?
        </p>
        <p>
            Mit Mitgefühl und Selbstannahme können wir unseren Emotionen die Hand reichen und sie einladen, einfach da zu sein. Wir können
            beobachten, wie sie sich dann ganz von selbst verändern und lösen. Es wird möglich, völlig in der Gegenwart zu leben ohne unsere
            Erfahrung ständig editieren zu müssen. Mit der Zeit führt das dazu, dass wir mehr vom Herzen als vom Kopf leben und eine viel
            authentischere Person werden. Rosen Behandlungen können uns auch zu mehr Klarheit über Beziehungen, Arbeit und das Leben verhelfen.
            Durch das Loslassen muskulärer Barrieren kommt es zu einem verbesserten Körperbewusstsein, zu mehr Vitalität und Resilienz. Wir
            entwickeln mehr Vertrauen in unsere eigenen Fähigkeiten und werden lebendiger und kreativer. Getragen von dieser erneuerten
            Verbindung zu uns selbst können wir besser mit anderen Menschen in Kontakt treten und uns mit einem gesunden Selbstbewusstsein
            hinaus in die Welt begeben.
        </p>
        <p>
            Die Rosen-Methode ist eine wirksame Ergänzung zu Psychotherapie und medizinischen Behandlungen, ersetzt aber nicht die Tätigkeit
            eines Arztes oder Psychologen.
        </p>
        <img class="img-fluid rounded" src="{{ url_for('static', filename='images/head_massage.jpg') }}" alt="Rosen Touch">
        <h2 class="text-center handwriting mt-5">"Deine Aufgabe besteht nicht darin, nach Liebe zu suchen, sondern einfach darin, alle Barrieren in Dir zu suchen und zu finden, die Du gegen die Liebe errichtet hast."</h2>
        <p class="text-center small">~ Rumi (1207-1273) ~</p>
        <h2>Literatur</h2>
        <ul>
            <li>
                Marion Rosen „Die Rosen Methode”
            </li>
            <li>
                Elaine L. Mayland „Rosen-Methode Körperarbeit. Ein Lehrbuch”
            </li>
            <li>
                Marion Rosen/Susan Brenner „Rosen-Methode Movement“
            </li>
            <li>
                Alan Fogel „Selbstwahrnehmung und Embodiment“
            </li>
        </ul>
    </div>
{% endblock %}
