{% extends "layout.html" %}

{% block color %}
    #FFEBCD
{% endblock %}

{% block slogan %}
    <div class="p-2 p-sm-4 mb-5 quote-large">
        <span lang="en">"Contacting the <br class="d-inline d-md-none"><span class="ml-n4 ml-sm-0">Unconscious <br class="d-none d-md-inline"> through Touch</span>"</span>
        <span lang="de" class="ml-4 ml-sm-0">"Den Köper berühren<br> <span class="ml-n5 ml-sm-0">- die Seele erreichen"</span></span>
    </div>
{% endblock %}

{% set img = "massage" %}
{% set alt = "Bodywork" %}

{% block heading %}
    <span lang="en">The Rosen Session</span><span lang="de">Die Rosen Behandlung</span>
{% endblock %}

{% block main %}
    <div lang="en">
        <p>A Rosen session takes 50-60 minutes, including about 10 minutes resting time. You are invited to relax on a massage table.
            If you wish you can also be seated. You don’t have to do anything besides being present and turning your attention inwards.
            <br class="d-inline d-sm-none">
            <br class="d-inline d-sm-none">
            The practitioner usually starts by touching the large muscles on your back. With hands that listen rather than manipulate,
            she follows your breath and the lead of her hands to places of muscle tension. With simple and non-judgemental words she
            brings this muscular holding to your awareness. As self-awareness deepens muscular relaxation occurs and the breath can flow
            more freely.
        </p>
        <img class="img-fluid rounded float-right d-none d-sm-inline m-2 mr-3 ml-0" width="600px" src="{{ url_for('static', filename='images/massage_man.jpg') }}" alt="Rosen Session">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" width="600px" src="{{ url_for('static', filename='images/massage_man.jpg') }}" alt="Rosen Session">
        <p>
            Sometimes unconscious or suppressed memories and emotions come to the surface. Every feeling is welcome and
            invited to be deeply felt with compassion and without judgement. Because you are accepted and allowed to show yourself just
            as you are strong emotions and long-held inner tension can be released and integrated.
            <br class="d-inline d-sm-none">
            <br class="d-inline d-sm-none">
            True wishes and needs can show themselves without getting rejected. Hidden potential is awakened, allowing for more aliveness,
            vitality and new possibilities. Grounded in a renewed connection to yourself you can reach out to others and step into the world
            from a place of inner confidence.
        </p>
        <p><strong>A Rosen Session can benefit people who:</strong>
            <ul>
                <li>suffer from chronic muscle tension</li>
                <li>long for relaxation and stress reduction</li>
                <li>would like to slow down and de-compress</li>
                <li>wish for more freedom of movement</li>
                <li>want to let go of unfinished business like grief, resentment and fear</li>
                <li>would like to deepen their physical, emotional and spiritual awareness</li>
                <li>want to connect more deeply with themselves, others and life </li>
                <li>wish for greater aliveness and authenticity</li>
                <li>would like to develop greater self-compassion</li>
                <li>long for wholeness and ease</li>
                <li>who have been in recovery from addictions for at least one year </li>
            </ul>
        <div class="alert alert-danger shadow-sm text-box"><strong>Special offer until December 2021: $50-70 per session (sliding scale)</strong></div>
        </p>
        <h1 class="handwriting">The History</h1>
        <img class="img-fluid rounded float-left d-none d-sm-inline m-2 mr-3 ml-0" src="{{ url_for('static', filename='images/marion_rosen.jpg') }}" alt="Marion Rosen">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" src="{{ url_for('static', filename='images/marion_rosen.jpg') }}" alt="Marion Rosen">
        <p>
            The Rosen-Method is named after Marion Rosen (1914-2012) a physical therapist who was born in Germany and later emigrated to Berkeley,
            California. While working on her patients she noticed a connection between breath, muscle tension and suppressed feelings. Based on
            her 50 years of experience she developed Rosen-Method Bodywork and Rosen-Method Movement and continued to work and teach almost until
            her death at age 97. Today Rosen-Method is taught in 19 countries and practiced in over 25 countries.
        </p>
        <h2 class="text-center handwriting mt-5">“This work is about transformation – from the person we think we are to the person we really are.”</h2>
        <p class="text-center small">~ Marion Rosen ~</p>
    </div>
    <div lang="de">
        <p>
            Eine Behandlung dauert in der Regel eine Stunde, einschliesslich etwa 10 Minuten zum Nachruhen. Sie dürfen sich bequem mit Ihrer Unterwäsche
            bekleidet auf einer Massageliege auf den Bauch legen; nach etwa einer halben Stunde wird dann auf den Rücken gedreht. Auf Wunsch kann die
            Behandlung auch bekleidet und im Sitzen stattfinden.
            <br class="d-inline d-sm-none">
            <br class="d-inline d-sm-none">
            Sie brauchen nichts zu tun als einfach präsent zu sein und zu spüren. Die Rosen-Praktizierende
            beginnt, Ihren Körper mit sanften und lauschenden Händen zu erkunden und lässt sich dabei von der Atembewegung zu den Stellen leiten, die am
            meisten verspannt erscheinen. Sie teilt Ihnen dann mit urteilsfreien Worten mit was sie spürt und bringt damit das Halten der Muskeln in Ihr
            Bewusstsein.
        </p>
        <img class="img-fluid rounded float-right d-none d-sm-inline m-2 mr-3 ml-0" width="600px" src="{{ url_for('static', filename='images/massage_man.jpg') }}" alt="Rosen Session">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" width="600px" src="{{ url_for('static', filename='images/massage_man.jpg') }}" alt="Rosen Session">
        <p>
            Wird die chronische Muskelanspannung von Ihnen wahrgenommen, kann es zu einer tiefen Enspannung und zu einem freieren Atem kommen.
            Manchmal tauchen auch unbewusste oder unterdrückte Erinnerungen und Gefühle auf. Alles ist willkommen und darf so sein, so wie es gerade ist.
            <br class="d-inline d-sm-none">
            <br class="d-inline d-sm-none">
            Sie werden so, wie sie sind akzeptiert und gesehen. Emotionen dürfen gefühlt und ins Jetzt integriert werden. Wünsche und Bedürfnisse können sich
            zeigen, ohne auf Ablehnung zu stossen. Diese Akzeptanz kann zu einem tiefen Gefühl von Erleichterung führen und kann eine Neuorientierung
            unterstützen. Verborgenes Potential wird geweckt und neue Möglichkeiten eröffnen sich, die Sie mit Energie und Selbstbewusstsein umsetzen können.
        </p>
        <p><strong>Eine Rosen Behandlung eignet sich  u.a. für Menschen….</strong></p>
            <ul>
                <li>in Stress und Belastungssituationen</li>
                <li>mit chronischen Muskelanspannungen</li>
                <li>die ihr Leben entschleunigen möchten</li>
                <li>die sich eine tiefere Körperwahrnehmung wünschen</li>
                <li>die altes emotionales Gepäck wie Trauer oder Wut loslassen möchten</li>
                <li>die tieferen Kontakt zu sich selbst, zu anderen und zum Leben suchen</li>
                <li>die mehr (Selbst-)Liebe spüren möchten</li>
                <li>die sich mehr Lebendigkeit und Authentizität in ihrem Leben wünschen</li>
                <li>die ihr eigenes Potential klarer erkennen möchten</li>
                <li>die mindestens seit einem Jahr drogenfrei sind</li>
            </ul>
        </p>
        <div class="alert alert-danger shadow-sm text-box""><strong>Bis Dezember 2021 zum Sonderpreis von 40-60 Euro pro Sitzung (freie Selbsteinschätzung)</strong></div>
        <h1 class="handwriting">Die Geschichte</h1>
        <img class="img-fluid rounded float-left d-none d-sm-inline m-2 mr-3 ml-0" src="{{ url_for('static', filename='images/marion_rosen.jpg') }}" alt="Marion Rosen">
        <img class="img-fluid rounded d-block d-sm-none mx-auto my-2" src="{{ url_for('static', filename='images/marion_rosen.jpg') }}" alt="Marion Rosen">
        <p>
            Die Rosen-Methode ist nach Marion Rosen (1914-2012) benannt, einer in Deutschland geborenen Atem- und Physiotherapeutin, die später nach
            Kalifornien emigrierte. Während ihrer Arbeit fiel ihr der Zusammenhang zwischen muskulären Verspannungen, flachem Atem und unterdrückten Gefühlen
            auf. Sie entwickelte ihre eigene Art der Körpertherapie, die sie noch bis kurz vor ihrem Tod mit 97 Jahren ausübte. Die Rosen-Methode wird inzwischen
            in 19 Ländern gelehrt und in mehr als 25 Ländern von tausenden ausgebildeten Praktizierenden ausgeübt.
        </p>
        <h2 class="text-center handwriting mt-5">“Bei dieser Arbeit geht es darum, sich wieder zu finden – die Wandlung zu vollziehen von der Person, die wir meinen zu sein,
            zu der Person, die wir wirklich sind”</h2>
        <p class="text-center small">~ Marion Rosen ~</p>
    </div>
{% endblock %}
